<a href="https://colab.research.google.com/github/dezi159/Diversity/blob/main/Ecologia_C%C3%A2meras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar os dados

In [ ]:
import pandas as pd
import numpy as np  

# Fazer o upload do arquivo 'dadosbrutos.csv' e 'deployment.csv' na barra lateral esquerda caso queira rodar o programa

df = pd.read_csv('/content/dadosbrutos.csv', sep=',')
print(df.head(5))

   project_id                         deployment_id  \
0     2000286  d4edd15c-1dc0-497d-96ac-5164981bdc43
1     2000286  d4edd15c-1dc0-497d-96ac-5164981bdc43
2     2000286  d4edd15c-1dc0-497d-96ac-5164981bdc43
3     2000286  d4edd15c-1dc0-497d-96ac-5164981bdc43
4     2000286  d4edd15c-1dc0-497d-96ac-5164981bdc43

                               image_id                              filename  \
0  90a2bd16-c212-4133-a326-f7130fb305e1  ab6358c7-8ed2-4941-8517-f166d58367f2
1  f74e586a-696a-4287-bd7e-99eb0ba1db7e  7aba560a-e412-4db1-98aa-08553509798c
2  9dcfd714-f567-4083-b0c9-6cde94c7070f  243de691-ce4f-4806-afae-b201292e6691
3  603ee4da-ed0e-44b3-b76d-8ec88e65cdc6  f7bcc907-6827-407d-b704-4a096fd301a4
4  db77ba05-6171-468a-ab92-9f66b3ff2768  32ad5267-caaa-43be-ab69-35f391ba581a

                                            location  is_blank  \
0  https://app.wildlifeinsights.org/download/2001...       NaN
1  https://app.wildlifeinsights.org/download/2001...       NaN
2  https://app.wildlifeinsights.org/download/2001...       NaN
3  https://app.wildlifeinsights.org/download/2001...       NaN
4  https://app.wildlifeinsights.org/download/2001...       NaN

                  identified_by                           wi_taxon_id  \
0   Robin Naidoo - Batch Upload  febff896-db40-4ac8-bcfe-5bb99a600950
1   Robin Naidoo - Batch Upload  febff896-db40-4ac8-bcfe-5bb99a600950
2   Robin Naidoo - Batch Upload  febff896-db40-4ac8-bcfe-5bb99a600950
3   Robin Naidoo - Batch Upload  febff896-db40-4ac8-bcfe-5bb99a600950
4   Robin Naidoo - Batch Upload  febff896-db40-4ac8-bcfe-5bb99a600950

      class            order  ...    age     sex animal_recognizable  \
0  Mammalia  Cetartiodactyla  ...  Adult  Female                 NaN
1  Mammalia  Cetartiodactyla  ...  Adult  Female                 NaN
2  Mammalia  Cetartiodactyla  ...  Adult  Female                 NaN
3  Mammalia  Cetartiodactyla  ...  Adult  Female                 NaN
4  Mammalia  Cetartiodactyla  ...  Adult  Female                 NaN

  individual_id  number_of_objects individual_animal_notes highlighted  \
0           NaN                  1                      {}       False
1           NaN                  1                      {}       False
2           NaN                  1                      {}       False
3           NaN                  1                      {}       False
4           NaN                  1                      {}       False

  markings cv_confidence   license
0      NaN           NaN  CC-BY-NC
1      NaN           NaN  CC-BY-NC
2      NaN           NaN  CC-BY-NC
3      NaN           NaN  CC-BY-NC
4      NaN           NaN  CC-BY-NC

[5 rows x 26 columns]

Colunas presentes no DataFrame

In [ ]:
df.columns

Index(['project_id', 'deployment_id', 'image_id', 'filename', 'location',
       'is_blank', 'identified_by', 'wi_taxon_id', 'class', 'order', 'family',
       'genus', 'species', 'common_name', 'uncertainty', 'timestamp', 'age',
       'sex', 'animal_recognizable', 'individual_id', 'number_of_objects',
       'individual_animal_notes', 'highlighted', 'markings', 'cv_confidence',
       'license'],
      dtype='object')

Variável com as colunas essenciais

In [ ]:
columns = df.drop(columns=['project_id', 'image_id', 'filename', 'is_blank', 'location', 'wi_taxon_id', 'identified_by', 'uncertainty', 'license', 'common_name', 'age', 'sex', 'animal_recognizable',	'individual_id',	'individual_animal_notes',	'highlighted',	'markings',	'cv_confidence', 'license' ])

In [ ]:
columns

,deployment_id,class,order,family,genus,species,timestamp,number_of_objects
0,d4edd15c-1dc0-497d-96ac-5164981bdc43,Mammalia,Cetartiodactyla,Cervidae,Odocoileus,hemionus,2018-07-21 08:36:59,1
1,d4edd15c-1dc0-497d-96ac-5164981bdc43,Mammalia,Cetartiodactyla,Cervidae,Odocoileus,hemionus,2018-07-22 19:40:51,1
2,d4edd15c-1dc0-497d-96ac-5164981bdc43,Mammalia,Cetartiodactyla,Cervidae,Odocoileus,hemionus,2018-06-11 15:31:33,1
3,d4edd15c-1dc0-497d-96ac-5164981bdc43,Mammalia,Cetartiodactyla,Cervidae,Odocoileus,hemionus,2018-07-18 04:47:22,1
4,d4edd15c-1dc0-497d-96ac-5164981bdc43,Mammalia,Cetartiodactyla,Cervidae,Odocoileus,hemionus,2018-07-21 08:36:58,1
...,...,...,...,...,...,...,...,...
123861,97a0e2f0-5666-45d8-be09-e856498d6023,CV Failed,CV Failed,CV Failed,CV Failed,CV Failed,2018-12-16 01:56:29,1
123862,97a0e2f0-5666-45d8-be09-e856498d6023,CV Failed,CV Failed,CV Failed,CV Failed,CV Failed,2018-12-16 06:33:37,1
123863,97a0e2f0-5666-45d8-be09-e856498d6023,CV Failed,CV Failed,CV Failed,CV Failed,CV Failed,2018-12-16 06:32:17,1
123864,97a0e2f0-5666-45d8-be09-e856498d6023,CV Failed,CV Failed,CV Failed,CV Failed,CV Failed,2019-01-01 03:33:23,1
123865,97a0e2f0-5666-45d8-be09-e856498d6023,CV Failed,CV Failed,CV Failed,CV Failed,CV Failed,2018-12-16 04:19:25,1

Agrupamento e contagem dos animais de acordo com as datas e com os ID's das câmeras

In [ ]:
df['Dates'] = pd.to_datetime(df['timestamp']).dt.date 
df['Dates'] = pd.to_datetime(df['Dates'])

selecao = (df['Dates'] >= '2018-06-21') & (df['Dates'] <= '2018-09-22')
 
df_filtrado = df[selecao] 

df['Semana'] = df_filtrado['Dates'].dt.to_period('W')
df['count'] = 0 
dateandanimals = df.groupby(['Semana','deployment_id', 'class', 'order', 'family', 'genus', 'species']).count()['count'] 
print(dateandanimals)

dateandanimals.to_excel('dateandanimals.xlsx') 

df2 = pd.read_csv('dateandanimals.csv', sep=',') # Precisa ter o arquivo 'dateandanimals.csv' no diretório
df2 = df2.drop(columns=['Semana','deployment_id'])

df2['count1'] = 0 
animals = df2.groupby(['class', 'order', 'family', 'genus', 'species']).count()['count1']
print(animals)

animals.to_excel('animalshierarquia.xlsx')

Semana                 deployment_id                         class     order            family     genus       species
2018-06-18/2018-06-24  02da68eb-f69b-400f-8791-e58ba88d7531  Mammalia  Carnivora        Ursidae    Ursus       americanus     6
                                                                       Cetartiodactyla  Cervidae   Odocoileus  hemionus       3
                       082bcc05-abcc-4e22-9018-5a75cae9c458  Aves      Passeriformes    Turdidae   Ixoreus     naevius       12
                                                             Mammalia  Cetartiodactyla  Cervidae   Odocoileus  hemionus      51
                                                                       Primates         Hominidae  Homo        sapiens       15
                                                                                                                             ..
2018-09-17/2018-09-23  ea0a80e1-7114-468f-8ac3-ba16907dfe40  Mammalia  Cetartiodactyla  Cervidae   Odocoileus  hemionus      69
                                                                       Lagomorpha       Leporidae  Lepus       americanus     6
                       f46075e2-db48-458e-a268-57378ce9b9de  Mammalia  Carnivora        Canidae    Canis       latrans        3
                                                                                                               lupus         85
                                                                                        Felidae    Lynx        canadensis     6
Name: count, Length: 3157, dtype: int64
class         order            family         genus           species
Aves          Galliformes      Phasianidae    Bonasa          umbellus         11
                                              Dendragapus     fuliginosus      47
                                              Falcipennis     canadensis       49
              Passeriformes    Alaudidae      Eremophila      alpestris         1
                               Corvidae       Corvus          corax             4
                                              Cyanocitta      stelleri          1
                                              Nucifraga       columbiana        6
                                              Perisoreus      canadensis        2
                               Fringillidae   Spinus          pinus             1
                               Paridae        Poecile         gambeli           1
                               Parulidae      Setophaga       coronata          4
                                                              ruticilla         1
                               Passerellidae  Junco           hyemalis         17
                                              Passerella      iliaca            5
                                              Pipilo          maculatus         8
                                              Spizella        passerina         2
                               Regulidae      Regulus         calendula         1
                                                              satrapa           1
                               Turdidae       Catharus        guttatus         24
                                              Ixoreus         naevius          23
                                              Myadestes       townsendi         1
                                              Turdus          migratorius      12
                               Tyrannidae     Empidonax       oberholseri       1
              Piciformes       Picidae        Colaptes        auratus           6
                                              Leuconotopicus  villosus          1
Mammalia      Artiodactyla     Bovidae        Bos             taurus           15
              Carnivora        Canidae        Canis           familiaris      115
                                                              latrans          92
                                                              lupus            92
                               Felidae        Lynx            canadensis       71
                                                              rufus             1
                                              Puma            concolor         14
                               Mustelidae     Lontra          canadensis        1
                                              Martes          americana        21
                                              Mustela         erminea           2
                                              Pekania         pennanti          2
                               Ursidae        Ursus           americanus       94
                                                              arctos           27
              Cetartiodactyla  Cervidae       Alces           alces            11
                                              Odocoileus      hemionus        190
              Lagomorpha       Leporidae      Lepus           americanus       30
              Perissodactyla   Equidae        Equus           caballus          9
              Primates         Hominidae      Homo            sapiens          26
              Rodentia         Sciuridae      Tamiasciurus    douglasii         3
No CV Result  No CV Result     No CV Result   No CV Result    No CV Result      2
Unknown       Unknown          Unknown        Unknown         Unknown          59
Name: count1, dtype: int64

Compilado das imagens e datas em que foram coletadas

In [ ]:
df['Dates'] = pd.to_datetime(df['timestamp']).dt.date 

df['Média'] = 0 
datafinal = df.groupby(['Dates']).count()['Média']
print(datafinal)

Dates
2018-05-12     48
2018-05-13     16
2018-05-14    160
2018-05-15      3
2018-05-16     89
             ...
2019-05-14      2
2019-05-15      1
2019-05-18     11
2019-05-19      2
2019-05-20     25
Name: Média, Length: 238, dtype: int64

In [ ]:
datafinal.to_excel('data.xlsx') # Exportação do arquivo final em .xlsx

Latitude e longitude - Pontificação

In [ ]:
camera = pd.read_csv('/content/deployments.csv', sep=',') # Variável com o database
#print(camera.head(5))

camera.columns # Colunas presente no banco 

x = camera.drop(columns=['project_id', 'start_date',
       'end_date', 'bait_type', 'bait_description', 'feature_type',
       'feature_type_methodology', 'camera_id', 'quiet_period',
       'camera_functioning', 'sensor_height', 'height_other',
       'sensor_orientation', 'orientation_other', 'plot_treatment',
       'detection_distance', 'subproject_name', 'subproject_design',
       'event_name', 'event_description', 'event_type', 'recorded_by',
       'fuzzed']) # Variável somente com as colunas essenciais

print(x)

x.to_excel('camera.xlsx') # Exportação do arquivo em .xlsx

                            deployment_id   longitude   latitude
0    97a0e2f0-5666-45d8-be09-e856498d6023 -123.034390  50.940970
1    069593dc-13b6-40a6-9075-2f097928919c -122.745380  50.903290
2    874e6952-add5-4b54-98a5-f5e27a12708d -123.034390  50.940970
3    d32de3ed-d33a-47cc-9050-bf9a36c40285 -122.809430  51.065290
4    bff69609-dcee-4b51-9ea1-5720dd66f6d0 -122.891620  50.879800
..                                    ...         ...        ...
143  dfacebdd-3d13-4744-b17c-c68daa588249 -122.735570  50.927690
144  acd54ef6-089f-4879-95f6-0080d1d6ab2e -122.889363  51.067641
145  082bcc05-abcc-4e22-9018-5a75cae9c458 -122.882466  50.960709
146  708ff79c-0440-4be7-b7a6-7b0ea9a244a7 -123.107702  51.018076
147  d4edd15c-1dc0-497d-96ac-5164981bdc43 -122.964420  50.951897

[148 rows x 3 columns]